In [1]:
import geopandas as gpd

In [2]:
df = gpd.read_file('esri_places.geojson')

In [5]:
df.columns

Index(['OBJECTID', 'NAME', 'CLASS', 'ST', 'STFIPS', 'PLACEFIPS', 'HOUSEUNITS',
       'POPULATION', 'POP_CLASS', 'geometry'],
      dtype='object')

In [7]:
col = ['OBJECTID', 'NAME', 'CLASS','geometry']

In [10]:
df = df[col]

In [15]:
df.columns = ['col1', 'col2', 'col3','geometry']

In [16]:
df.to_postgis()

,col1,col2,col3,geometry
0,1,Abanda,Census Designated Place,POINT (-85.52464 33.09138)
1,2,Abbeville,city,POINT (-85.25277 31.56642)
2,3,Adamsville,city,POINT (-87.00800 33.62020)
3,4,Addison,town,POINT (-87.17656 34.20164)
4,5,Akron,town,POINT (-87.74287 32.87853)
...,...,...,...,...
29291,29292,Y-O Ranch,Census Designated Place,POINT (-104.92297 42.03516)
29292,29293,St. Joseph,Census Designated Place,POINT (-91.04358 43.78549)
29293,29294,Summit,village,POINT (-88.51169 43.04788)
29294,29295,Fox Park,Census Designated Place,POINT (-106.15338 41.08013)
29295,29296,Point of Rocks,Census Designated Place,POINT (-108.78913 41.68600)